Repository l50/ansible-collection-arsenal, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/changelogs, area/meta, area/roles, area/playbooks, area/taskfiles, area/galaxy, area/molecule, area/plugins, role/asdf, role/logging, role/package_management, role/user_setup, role/vnc_setup, role/zsh_setup, playbook/workstation, playbook/vnc_box

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
      - any-glob-to-any-file: ".hooks/**/*"

area/license:
  - changed-files:
      - any-glob-to-any-file: "LICENSE"

area/readme:
  - changed-files:
      - any-glob-to-any-file: "README.md"

area/changelogs:
  - changed-files:
      - any-glob-to-any-file: "changelogs/**/*"

area/meta:
  - changed-files:
      - any-glob-to-any-file: "meta/**/*"

area/roles:
  - changed-files:
      - any-glob-to-any-file: "roles/**/*"

area/playbooks:
  - changed-files:
      - any-glob-to-any-file: "playbooks/**/*"

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/galaxy:
  - changed-files:
      - any-glob-to-any-file: "galaxy.yml"

area/molecule:
  - changed-files:
      - any-glob-to-any-file: "**/molecule/**/*"

area/plugins:
  - changed-files:
      - any-glob-to-any-file: "plugins/**/*"

# Individual roles
role/asdf:
  - changed-files:
      - any-glob-to-any-file: "roles/asdf/**/*"

role/logging:
  - changed-files:
      - any-glob-to-any-file: "roles/logging/**/*"

role/package_management:
  - changed-files:
      - any-glob-to-any-file: "roles/package_management/**/*"

role/user_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/user_setup/**/*"

role/vnc_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/vnc_setup/**/*"

role/zsh_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/zsh_setup/**/*"

# Individual playbooks
playbook/workstation:
  - changed-files:
      - any-glob-to-any-file: "playbooks/workstation/**/*"

playbook/vnc_box:
  - changed-files:
      - any-glob-to-any-file: "playbooks/vnc_box/**/*"

feat: add privesc_tools ansible role for privilege escalation tooling (#740)
  .github/workflows/molecule.yaml
  README.md
  roles/privesc_tools/README.md
  roles/privesc_tools/defaults/main.yml
  roles/privesc_tools/handlers/main.yml
  roles/privesc_tools/meta/main.yml
  roles/privesc_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/privesc_tools/molecule/default/converge.yml
  roles/privesc_tools/molecule/default/create.yml
  roles/privesc_tools/molecule/default/destroy.yml
  roles/privesc_tools/molecule/default/molecule.yml
  roles/privesc_tools/molecule/default/verify.yml
  roles/privesc_tools/tasks/certipy_venv.yml
  roles/privesc_tools/tasks/impacket_source.yml
  roles/privesc_tools/tasks/linux.yml
  roles/privesc_tools/tasks/lsassy_venv.yml
  roles/privesc_tools/tasks/main.yml
  roles/privesc_tools/tasks/pygpoabuse_venv.yml
  roles/privesc_tools/tasks/zerologon.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add recon_tools role for network reconnaissance tool installation
  .github/workflows/molecule.yaml
  README.md
  roles/recon_tools/README.md
  roles/recon_tools/defaults/main.yml
  roles/recon_tools/meta/main.yml
  roles/recon_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/recon_tools/molecule/default/converge.yml
  roles/recon_tools/molecule/default/create.yml
  roles/recon_tools/molecule/default/destroy.yml
  roles/recon_tools/molecule/default/inventory
  roles/recon_tools/molecule/default/molecule.yml
  roles/recon_tools/molecule/default/verify.yml
  roles/recon_tools/tasks/bloodhound_pipx.yml
  roles/recon_tools/tasks/certipy_pipx.yml
  roles/recon_tools/tasks/impacket_source.yml
  roles/recon_tools/tasks/install_pipx.yml
  roles/recon_tools/tasks/linux.yml
  roles/recon_tools/tasks/main.yml
  roles/recon_tools/tasks/netexec_pip.yml
  roles/recon_tools/tasks/netexec_pipx.yml
Labels: area/github, area/readme, area/roles, area/molecule

fix: correct verification summary title in recon_tools molecule test
  roles/recon_tools/molecule/default/verify.yml
Labels: area/roles, area/molecule

feat: add recon_tools ansible role for network reconnaissance (#741)
  .github/workflows/molecule.yaml
  README.md
  roles/recon_tools/README.md
  roles/recon_tools/defaults/main.yml
  roles/recon_tools/meta/main.yml
  roles/recon_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/recon_tools/molecule/default/converge.yml
  roles/recon_tools/molecule/default/create.yml
  roles/recon_tools/molecule/default/destroy.yml
  roles/recon_tools/molecule/default/inventory
  roles/recon_tools/molecule/default/molecule.yml
  roles/recon_tools/molecule/default/verify.yml
  roles/recon_tools/tasks/bloodhound_pipx.yml
  roles/recon_tools/tasks/certipy_pipx.yml
  roles/recon_tools/tasks/impacket_source.yml
  roles/recon_tools/tasks/install_pipx.yml
  roles/recon_tools/tasks/linux.yml
  roles/recon_tools/tasks/main.yml
  roles/recon_tools/tasks/netexec_pip.yml
  roles/recon_tools/tasks/netexec_pipx.yml
Labels: area/github, area/readme, area/roles, area/molecule

fix: harden mythic sudoers to scoped commands and add repo version pin
  roles/mythic/README.md
  roles/mythic/defaults/main.yml
  roles/mythic/handlers/main.yml
  roles/mythic/molecule/default/verify.yml
  roles/mythic/tasks/agents.yml
  roles/mythic/tasks/mythic.yml
  roles/mythic/tasks/user.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/tasks/sliver_get_user_home.yml
Labels: area/roles, area/molecule

fix: pin mythic repo version and harden permission handling
  roles/mythic/README.md
  roles/mythic/defaults/main.yml
  roles/mythic/tasks/agents.yml
  roles/mythic/tasks/user.yml
Labels: area/roles

test: expand molecule verify coverage across multiple roles
  roles/acl_tools/molecule/default/verify.yml
  roles/attack_box/molecule/default/verify.yml
  roles/attack_box/tasks/ssh.yml
  roles/credential_access_tools/tasks/impacket_source.yml
  roles/mythic/molecule/default/verify.yml
  roles/privesc_tools/molecule/default/verify.yml
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/tasks/recon_toolkit_get_user_home.yml
  roles/sliver/molecule/default/verify.yml
  roles/ttpforge/README.md
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/molecule/default/verify.yml
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/roles, area/molecule

refactor: improve attack_box, recon_tools, and lateral_movement_tools roles
  roles/attack_box/README.md
  roles/attack_box/meta/main.yml
  roles/attack_box/tasks/ssh.yml
  roles/attack_box/tasks/wordlists.yml
  roles/lateral_movement_tools/README.md
  roles/lateral_movement_tools/tasks/linux.yml
  roles/privesc_tools/tasks/linux.yml
  roles/recon_tools/README.md
  roles/recon_tools/tasks/bloodhound_pipx.yml
  roles/recon_tools/tasks/certipy_pipx.yml
  roles/recon_tools/tasks/netexec_pip.yml
Labels: area/roles

test: expand molecule verify coverage across multiple roles (#746)
  roles/acl_tools/molecule/default/verify.yml
  roles/attack_box/README.md
  roles/attack_box/meta/main.yml
  roles/attack_box/molecule/default/verify.yml
  roles/attack_box/tasks/ssh.yml
  roles/attack_box/tasks/wordlists.yml
  roles/credential_access_tools/tasks/impacket_source.yml
  roles/lateral_movement_tools/README.md
  roles/lateral_movement_tools/tasks/linux.yml
  roles/mythic/molecule/default/verify.yml
  roles/privesc_tools/molecule/default/verify.yml
  roles/privesc_tools/tasks/linux.yml
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/tasks/recon_toolkit_get_user_home.yml
  roles/recon_tools/README.md
  roles/recon_tools/tasks/bloodhound_pipx.yml
  roles/recon_tools/tasks/certipy_pipx.yml
  roles/recon_tools/tasks/netexec_pip.yml
  roles/sliver/molecule/default/verify.yml
  roles/ttpforge/README.md
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/molecule/default/verify.yml
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/roles, area/molecule

test: fix gpg smoke test and skip idempotence in sliver/ttpforge molecule
  roles/mythic/molecule/default/verify.yml
  roles/sliver/molecule/default/molecule.yml
  roles/ttpforge/molecule/default/molecule.yml
Labels: area/roles, area/molecule

test: remove stale verify assertions for sliver unpack and ttpforge sudoers
  roles/sliver/molecule/default/verify.yml
  roles/ttpforge/molecule/default/verify.yml
Labels: area/roles, area/molecule

fix: align verify-time identity with converge-time role overrides in ttpforge
  roles/ttpforge/molecule/default/verify.yml
Labels: area/roles, area/molecule

fix: add user context to ttpforge init command
  roles/ttpforge/tasks/setup.yml
Labels: area/roles

test: expand molecule verify coverage across multiple roles (#745)
  roles/acl_tools/molecule/default/verify.yml
  roles/attack_box/README.md
  roles/attack_box/meta/main.yml
  roles/attack_box/molecule/default/verify.yml
  roles/attack_box/tasks/ssh.yml
  roles/attack_box/tasks/wordlists.yml
  roles/credential_access_tools/tasks/impacket_source.yml
  roles/lateral_movement_tools/README.md
  roles/lateral_movement_tools/tasks/linux.yml
  roles/mythic/README.md
  roles/mythic/defaults/main.yml
  roles/mythic/handlers/main.yml
  roles/mythic/molecule/default/verify.yml
  roles/mythic/tasks/agents.yml
  roles/mythic/tasks/mythic.yml
  roles/mythic/tasks/user.yml
  roles/privesc_tools/molecule/default/verify.yml
  roles/privesc_tools/tasks/linux.yml
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/tasks/recon_toolkit_get_user_home.yml
  roles/recon_tools/README.md
  roles/recon_tools/tasks/bloodhound_pipx.yml
  roles/recon_tools/tasks/certipy_pipx.yml
  roles/recon_tools/tasks/netexec_pip.yml
  roles/sliver/molecule/default/molecule.yml
  roles/sliver/molecule/default/verify.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/tasks/sliver_get_user_home.yml
  roles/ttpforge/README.md
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/molecule/default/molecule.yml
  roles/ttpforge/molecule/default/verify.yml
  roles/ttpforge/tasks/setup.yml
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/roles, area/molecule

fix: add download retry logic and fix mise dependency conflicts
  roles/privesc_tools/README.md
  roles/privesc_tools/defaults/main.yml
  roles/privesc_tools/tasks/linux.yml
  roles/sliver/README.md
  roles/sliver/meta/main.yml
  roles/ttpforge/README.md
  roles/ttpforge/meta/main.yml
Labels: area/roles

fix: add download retry logic and fix mise dependency conflicts (#747)
  roles/privesc_tools/README.md
  roles/privesc_tools/defaults/main.yml
  roles/privesc_tools/tasks/linux.yml
  roles/sliver/README.md
  roles/sliver/meta/main.yml
  roles/ttpforge/README.md
  roles/ttpforge/meta/main.yml
Labels: area/roles

ci: add retry logic to pre-commit workflow step
  .github/workflows/pre-commit.yaml
Labels: area/github

ci: add retry logic for pre-commit task execution (#748)
  .github/workflows/pre-commit.yaml
Labels: area/github

feat: add netexec installation support to credential_access_tools role
  roles/credential_access_tools/README.md
  roles/credential_access_tools/defaults/main.yml
  roles/credential_access_tools/molecule/default/verify.yml
  roles/credential_access_tools/tasks/linux.yml
  roles/credential_access_tools/tasks/netexec_pipx.yml
Labels: area/roles, area/molecule

fix: make netexec pipx install compatible with older pipx versions
  roles/credential_access_tools/README.md
  roles/credential_access_tools/molecule/default/converge.yml
  roles/credential_access_tools/molecule/default/verify.yml
  roles/credential_access_tools/tasks/netexec_pipx.yml
Labels: area/roles, area/molecule

feat: add netexec installation support to credential_access_tools role (#757)
  roles/credential_access_tools/README.md
  roles/credential_access_tools/defaults/main.yml
  roles/credential_access_tools/molecule/default/converge.yml
  roles/credential_access_tools/molecule/default/verify.yml
  roles/credential_access_tools/tasks/linux.yml
  roles/credential_access_tools/tasks/netexec_pipx.yml
Labels: area/roles, area/molecule

fix: build hashcat rust plugins serially to prevent race conditions
  roles/cracking_tools/README.md
  roles/cracking_tools/tasks/hashcat.yml
Labels: area/roles

build: serialize hashcat rust plugin compilation in ansible role (#767)
  roles/cracking_tools/README.md
  roles/cracking_tools/tasks/hashcat.yml
Labels: area/roles
