Repository l50/ansible-collection-arsenal, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/changelogs, area/meta, area/roles, area/playbooks, area/taskfiles, area/galaxy, area/molecule, area/plugins, role/asdf, role/logging, role/package_management, role/user_setup, role/vnc_setup, role/zsh_setup, playbook/workstation, playbook/vnc_box

fix: remove ansible from apt dependencies in sliver and ttpforge playbooks
  playbooks/sliver/sliver.yml
  playbooks/ttpforge/ttpforge.yml
Labels: area/playbooks

fix: remove ansible from apt dependencies in sliver and ttpforge playbooks (#515)
  playbooks/sliver/sliver.yml
  playbooks/ttpforge/ttpforge.yml
Labels: area/playbooks

feat: add optional cleanup role to attack_box playbook with configuration vars
  playbooks/attack_box/attack_box.yml
Labels: area/playbooks

feat: add configurable cleanup role and variables to atomic-red-team playbook
  playbooks/atomic-red-team/atomic-red-team.yml
Labels: area/playbooks

feat: add build artifact cleanup to atomic-red-team and attack_box playbooks (#516)
  playbooks/atomic-red-team/atomic-red-team.yml
  playbooks/attack_box/attack_box.yml
Labels: area/playbooks

feat: add install path variable to attack box build cleanup role
  playbooks/attack_box/attack_box.yml
Labels: area/playbooks

feat: add user customization support to user_setup role in ttpforge playbook
  playbooks/ttpforge/ttpforge.yml
Labels: area/playbooks

build: enhance renovate config with auto-merge and workflow version updates
  .github/renovate.json5
Labels: area/github

ci: configure renovate to support pip requirements files
  .github/renovate.json5
Labels: area/github

feat: track current sliver repo HEAD before cloning for idempotency
  roles/sliver/README.md
  roles/sliver/tasks/setup.yml
Labels: area/roles

feat: add recon_toolkit role for automated reconnaissance tool installation
  README.md
  playbooks/recon_toolkit/recon_toolkit.yml
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/meta/main.yml
  roles/recon_toolkit/molecule/default/converge.yml
  roles/recon_toolkit/molecule/default/molecule.yml
  roles/recon_toolkit/molecule/default/verify.yml
  roles/recon_toolkit/tasks/http_discovery.yml
  roles/recon_toolkit/tasks/main.yml
  roles/recon_toolkit/tasks/param_analysis.yml
  roles/recon_toolkit/tasks/recon_toolkit_get_user_home.yml
  roles/recon_toolkit/tasks/subdomain_enum.yml
  roles/recon_toolkit/tasks/vuln_scanning.yml
  roles/recon_toolkit/tasks/web_crawling.yml
  roles/recon_toolkit/vars/main.yml
Labels: area/readme, area/roles, area/playbooks, area/molecule

feat: switch ctfr installation to git clone and wrapper script
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/tasks/subdomain_enum.yml
Labels: area/roles

test: add molecule tests for recon_toolkit playbook and update test matrix
  .github/workflows/molecule.yaml
  README.md
  playbooks/recon_toolkit/molecule/default/converge.yml
  playbooks/recon_toolkit/molecule/default/molecule.yml
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
Labels: area/github, area/readme, area/roles, area/playbooks, area/molecule

fix: update gitleaks installation path in vuln_scanning.yml
  roles/recon_toolkit/tasks/vuln_scanning.yml
Labels: area/roles

refactor: migrate recon_toolkit role from asdf to mise version manager
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/meta/main.yml
  roles/recon_toolkit/molecule/default/verify.yml
  roles/recon_toolkit/tasks/http_discovery.yml
  roles/recon_toolkit/tasks/main.yml
  roles/recon_toolkit/tasks/param_analysis.yml
  roles/recon_toolkit/tasks/subdomain_enum.yml
  roles/recon_toolkit/tasks/vuln_scanning.yml
  roles/recon_toolkit/tasks/web_crawling.yml
  roles/recon_toolkit/vars/main.yml
Labels: area/roles, area/molecule

fix: update git module to use master branch for gf-patterns clone
  roles/recon_toolkit/tasks/param_analysis.yml
Labels: area/roles

feat: add configurable paramspider repo and update installation method
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/tasks/param_analysis.yml
Labels: area/roles

test: enhance molecule scenario and dig verification in recon_toolkit
  playbooks/recon_toolkit/molecule/default/molecule.yml
  roles/recon_toolkit/molecule/default/verify.yml
Labels: area/roles, area/playbooks, area/molecule

refactor: simplify tool verification by using which and checking return codes
  roles/recon_toolkit/molecule/default/verify.yml
Labels: area/roles, area/molecule

feat: add optional build cleanup step to recon toolkit playbook
  playbooks/recon_toolkit/recon_toolkit.yml
Labels: area/playbooks

refactor: standardize verification commands to use 'which' for tool checks
  roles/recon_toolkit/molecule/default/verify.yml
Labels: area/roles, area/molecule

fix: ensure verify tasks use custom PATH for tool detection
  roles/recon_toolkit/molecule/default/verify.yml
Labels: area/roles, area/molecule

fix: handle rustscan archives with nested tar.gz for x86_64 extraction
  roles/recon_toolkit/README.md
  roles/recon_toolkit/tasks/http_discovery.yml
Labels: area/roles

feat: add recon_toolkit role for automated reconnaissance toolchain (#628)
  .github/workflows/molecule.yaml
  README.md
  playbooks/recon_toolkit/molecule/default/converge.yml
  playbooks/recon_toolkit/molecule/default/molecule.yml
  playbooks/recon_toolkit/recon_toolkit.yml
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/meta/main.yml
  roles/recon_toolkit/molecule/default/converge.yml
  roles/recon_toolkit/molecule/default/molecule.yml
  roles/recon_toolkit/molecule/default/verify.yml
  roles/recon_toolkit/tasks/http_discovery.yml
  roles/recon_toolkit/tasks/main.yml
  roles/recon_toolkit/tasks/param_analysis.yml
  roles/recon_toolkit/tasks/recon_toolkit_get_user_home.yml
  roles/recon_toolkit/tasks/subdomain_enum.yml
  roles/recon_toolkit/tasks/vuln_scanning.yml
  roles/recon_toolkit/tasks/web_crawling.yml
  roles/recon_toolkit/vars/main.yml
Labels: area/github, area/readme, area/roles, area/playbooks, area/molecule

refactor: update variable usage to ansible_facts for consistency and accuracy
  roles/attack_box/README.md
  roles/attack_box/defaults/main.yml
  roles/attack_box/molecule/default/converge.yml
  roles/attack_box/molecule/default/verify.yml
  roles/attack_box/tasks/main.yml
  roles/attack_box/tasks/ssh.yml
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/tasks/http_discovery.yml
  roles/recon_toolkit/tasks/recon_toolkit_get_user_home.yml
  roles/sliver/README.md
  roles/sliver/defaults/main.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/tasks/sliver_get_user_home.yml
  roles/ttpforge/README.md
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/molecule/default/converge.yml
  roles/ttpforge/molecule/default/converge_with_cleanup.yml
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/roles, area/molecule

refactor: standardize on ansible_facts for all user and distribution references (#629)
  roles/attack_box/README.md
  roles/attack_box/defaults/main.yml
  roles/attack_box/molecule/default/converge.yml
  roles/attack_box/molecule/default/verify.yml
  roles/attack_box/tasks/main.yml
  roles/attack_box/tasks/ssh.yml
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/tasks/http_discovery.yml
  roles/recon_toolkit/tasks/recon_toolkit_get_user_home.yml
  roles/sliver/README.md
  roles/sliver/defaults/main.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/tasks/sliver_get_user_home.yml
  roles/ttpforge/README.md
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/molecule/default/converge.yml
  roles/ttpforge/molecule/default/converge_with_cleanup.yml
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/roles, area/molecule

refactor: migrate sliver and ttpforge roles from asdf to mise for tool management
  roles/sliver/README.md
  roles/sliver/defaults/main.yml
  roles/sliver/meta/main.yml
  roles/sliver/molecule/default/converge.yml
  roles/sliver/tasks/main.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/vars/main.yml
  roles/ttpforge/README.md
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/meta/main.yml
  roles/ttpforge/molecule/default/converge.yml
  roles/ttpforge/molecule/default/converge_with_cleanup.yml
  roles/ttpforge/tasks/main.yml
  roles/ttpforge/tasks/setup.yml
  roles/ttpforge/vars/main.yml
Labels: area/roles, area/molecule

feat: add task to trust mise config in sliver and ttpforge roles
  roles/sliver/README.md
  roles/sliver/tasks/setup.yml
  roles/ttpforge/README.md
  roles/ttpforge/tasks/setup.yml
Labels: area/roles

refactor: migrate from asdf to mise for language and tool version management (#630)
  roles/sliver/README.md
  roles/sliver/defaults/main.yml
  roles/sliver/meta/main.yml
  roles/sliver/molecule/default/converge.yml
  roles/sliver/tasks/main.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/vars/main.yml
  roles/ttpforge/README.md
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/meta/main.yml
  roles/ttpforge/molecule/default/converge.yml
  roles/ttpforge/molecule/default/converge_with_cleanup.yml
  roles/ttpforge/tasks/main.yml
  roles/ttpforge/tasks/setup.yml
  roles/ttpforge/vars/main.yml
Labels: area/roles, area/molecule

chore: update release notes and metadata for 1.1.0 release
  changelogs/CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Labels: area/changelogs, area/galaxy

chore: release arsenal ansible collection v1.1.0 with new role and tooling migration (#631)
  changelogs/CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Labels: area/changelogs, area/galaxy

docs: update release process docs for automated workflow and simplify manual steps
  docs/releases.md
Labels: none

feat: add http/content discovery, github recon, secret scanning, and js analysis tools
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/molecule/default/verify.yml
  roles/recon_toolkit/tasks/github_recon.yml
  roles/recon_toolkit/tasks/http_discovery.yml
  roles/recon_toolkit/tasks/main.yml
  roles/recon_toolkit/tasks/vuln_scanning.yml
  roles/recon_toolkit/tasks/web_crawling.yml
  roles/recon_toolkit/vars/main.yml
Labels: area/roles, area/molecule

refactor: move uncover and shodan installation to http_discovery, drop nuclei, rename secret scanning
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/tasks/http_discovery.yml
  roles/recon_toolkit/tasks/main.yml
  roles/recon_toolkit/tasks/secret_scanning.yml
Labels: area/roles

fix: correct noseyparker download URL to include OS and version prefix
  roles/recon_toolkit/tasks/secret_scanning.yml
Labels: area/roles

refactor: remove nuclei installation verification from secret scanning tests
  roles/recon_toolkit/molecule/default/verify.yml
Labels: area/roles, area/molecule

refactor: move uncover and shodan checks to web scanning section in verify.yml
  roles/recon_toolkit/molecule/default/verify.yml
Labels: area/roles, area/molecule

feat: expand recon toolkit with http discovery, secret scanning, and github recon tools (#632)
  roles/recon_toolkit/README.md
  roles/recon_toolkit/defaults/main.yml
  roles/recon_toolkit/molecule/default/verify.yml
  roles/recon_toolkit/tasks/github_recon.yml
  roles/recon_toolkit/tasks/http_discovery.yml
  roles/recon_toolkit/tasks/main.yml
  roles/recon_toolkit/tasks/secret_scanning.yml
  roles/recon_toolkit/tasks/vuln_scanning.yml
  roles/recon_toolkit/tasks/web_crawling.yml
  roles/recon_toolkit/vars/main.yml
Labels: area/roles, area/molecule

feat: add node.js relocation logic for cleanup survival and extend test coverage
  roles/recon_toolkit/README.md
  roles/recon_toolkit/molecule/cleanup/converge.yml
  roles/recon_toolkit/molecule/cleanup/molecule.yml
  roles/recon_toolkit/molecule/cleanup/verify.yml
  roles/recon_toolkit/molecule/default/verify.yml
  roles/recon_toolkit/tasks/main.yml
  roles/recon_toolkit/tasks/relocate_node_packages.yml
Labels: area/roles, area/molecule

test: add verification playbook for recon_toolkit installation and configuration
  playbooks/recon_toolkit/molecule/default/verify.yml
  playbooks/recon_toolkit/recon_toolkit.yml
Labels: area/playbooks, area/molecule

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
      - any-glob-to-any-file: ".hooks/**/*"

area/license:
  - changed-files:
      - any-glob-to-any-file: "LICENSE"

area/readme:
  - changed-files:
      - any-glob-to-any-file: "README.md"

area/changelogs:
  - changed-files:
      - any-glob-to-any-file: "changelogs/**/*"

area/meta:
  - changed-files:
      - any-glob-to-any-file: "meta/**/*"

area/roles:
  - changed-files:
      - any-glob-to-any-file: "roles/**/*"

area/playbooks:
  - changed-files:
      - any-glob-to-any-file: "playbooks/**/*"

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/galaxy:
  - changed-files:
      - any-glob-to-any-file: "galaxy.yml"

area/molecule:
  - changed-files:
      - any-glob-to-any-file: "**/molecule/**/*"

area/plugins:
  - changed-files:
      - any-glob-to-any-file: "plugins/**/*"

# Individual roles
role/asdf:
  - changed-files:
      - any-glob-to-any-file: "roles/asdf/**/*"

role/logging:
  - changed-files:
      - any-glob-to-any-file: "roles/logging/**/*"

role/package_management:
  - changed-files:
      - any-glob-to-any-file: "roles/package_management/**/*"

role/user_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/user_setup/**/*"

role/vnc_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/vnc_setup/**/*"

role/zsh_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/zsh_setup/**/*"

# Individual playbooks
playbook/workstation:
  - changed-files:
      - any-glob-to-any-file: "playbooks/workstation/**/*"

playbook/vnc_box:
  - changed-files:
      - any-glob-to-any-file: "playbooks/vnc_box/**/*"
