Repository l50/ansible-collection-arsenal, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/changelogs, area/meta, area/roles, area/playbooks, area/taskfiles, area/galaxy, area/molecule, area/plugins, role/asdf, role/logging, role/package_management, role/user_setup, role/vnc_setup, role/zsh_setup, playbook/workstation, playbook/vnc_box

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
      - any-glob-to-any-file: ".hooks/**/*"

area/license:
  - changed-files:
      - any-glob-to-any-file: "LICENSE"

area/readme:
  - changed-files:
      - any-glob-to-any-file: "README.md"

area/changelogs:
  - changed-files:
      - any-glob-to-any-file: "changelogs/**/*"

area/meta:
  - changed-files:
      - any-glob-to-any-file: "meta/**/*"

area/roles:
  - changed-files:
      - any-glob-to-any-file: "roles/**/*"

area/playbooks:
  - changed-files:
      - any-glob-to-any-file: "playbooks/**/*"

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/galaxy:
  - changed-files:
      - any-glob-to-any-file: "galaxy.yml"

area/molecule:
  - changed-files:
      - any-glob-to-any-file: "**/molecule/**/*"

area/plugins:
  - changed-files:
      - any-glob-to-any-file: "plugins/**/*"

# Individual roles
role/asdf:
  - changed-files:
      - any-glob-to-any-file: "roles/asdf/**/*"

role/logging:
  - changed-files:
      - any-glob-to-any-file: "roles/logging/**/*"

role/package_management:
  - changed-files:
      - any-glob-to-any-file: "roles/package_management/**/*"

role/user_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/user_setup/**/*"

role/vnc_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/vnc_setup/**/*"

role/zsh_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/zsh_setup/**/*"

# Individual playbooks
playbook/workstation:
  - changed-files:
      - any-glob-to-any-file: "playbooks/workstation/**/*"

playbook/vnc_box:
  - changed-files:
      - any-glob-to-any-file: "playbooks/vnc_box/**/*"

feat: add node.js and npm package relocation for cleanup survival (#639)
  playbooks/recon_toolkit/molecule/default/verify.yml
  playbooks/recon_toolkit/recon_toolkit.yml
  roles/recon_toolkit/README.md
  roles/recon_toolkit/molecule/cleanup/converge.yml
  roles/recon_toolkit/molecule/cleanup/molecule.yml
  roles/recon_toolkit/molecule/cleanup/verify.yml
  roles/recon_toolkit/molecule/default/verify.yml
  roles/recon_toolkit/tasks/main.yml
  roles/recon_toolkit/tasks/relocate_node_packages.yml
Labels: area/roles, area/playbooks, area/molecule

fix: force npm install to overwrite existing global packages
  roles/recon_toolkit/tasks/relocate_node_packages.yml
Labels: area/roles

feat: add relocation of pipx binaries for cleanup survival in recon_toolkit role
  playbooks/recon_toolkit/recon_toolkit.yml
  roles/recon_toolkit/README.md
  roles/recon_toolkit/tasks/main.yml
  roles/recon_toolkit/tasks/relocate_pipx_packages.yml
Labels: area/roles, area/playbooks

fix: update sliver build process to ensure module compatibility and remove tidy step
  roles/sliver/tasks/setup.yml
Labels: area/roles

docs: sort roles and playbooks in collection diagram
  README.md
Labels: area/readme

chore(renovate): automerge ansible-galaxy major bumps
  .github/renovate.json5
Labels: area/github

docs: reorder role and playbook diagrams (#689)
  README.md
Labels: area/readme

ci: enable automerge for major dependency updates (#690)
  .github/renovate.json5
Labels: area/github

fix: add roles table markers to README
  README.md
Labels: area/readme

fix: add boolean-safe create/destroy playbooks to recon_toolkit molecule
  roles/recon_toolkit/molecule/default/create.yml
  roles/recon_toolkit/molecule/default/destroy.yml
Labels: area/roles, area/molecule

fix: add roles table markers to README so pre-commit hook passes (#705)
  README.md
Labels: area/readme

fix: add boolean-safe create/destroy playbooks to recon_toolkit molecule scenario (#706)
  roles/recon_toolkit/molecule/default/create.yml
  roles/recon_toolkit/molecule/default/destroy.yml
Labels: area/roles, area/molecule

fix: unblock molecule role/playbook tests on ansible-core 2.21
  playbooks/recon_toolkit/molecule/default/create.yml
  playbooks/recon_toolkit/molecule/default/destroy.yml
  roles/sliver/README.md
  roles/sliver/tasks/setup.yml
  roles/ttpforge/tasks/setup.yml
Labels: area/roles, area/playbooks, area/molecule

fix: simplify sliver git change detection and harden mise path (#707)
  playbooks/recon_toolkit/molecule/default/create.yml
  playbooks/recon_toolkit/molecule/default/destroy.yml
  roles/sliver/README.md
  roles/sliver/tasks/setup.yml
  roles/ttpforge/tasks/setup.yml
Labels: area/roles, area/playbooks, area/molecule

ci: refactor template-sync to use repository_dispatch and narrow scope
  .github/workflows/template-sync.yaml
  .templatesyncignore
Labels: area/github

chore: clean up templatesyncignore comment noise
  .templatesyncignore
Labels: none

ci: streamline template-sync trigger and scope workflow files to renovate (#708)
  .github/workflows/template-sync.yaml
  .templatesyncignore
Labels: area/github

chore: remove template sync workflow and ignore configuration
  .github/workflows/template-sync.yaml
  .templatesyncignore
Labels: area/github

chore: remove template sync workflow and ignore configuration (#709)
  .github/workflows/template-sync.yaml
  .templatesyncignore
Labels: area/github

docs: update ttpforge role description in README
  README.md
Labels: area/readme

fix: add dpkg and apt repair tasks before sliver package install
  roles/sliver/README.md
  roles/sliver/tasks/main.yml
Labels: area/roles

fix: add dpkg and apt repair tasks before sliver package install (#712)
  roles/sliver/README.md
  roles/sliver/tasks/main.yml
Labels: area/roles

chore: enable major version automerge in renovate config
  .github/renovate.json5
Labels: area/github

chore: enable major version automerge in renovate config (#718)
  .github/renovate.json5
Labels: area/github

feat: add mythic C2 framework role with molecule tests
  .github/workflows/molecule.yaml
  README.md
  roles/mythic/README.md
  roles/mythic/defaults/main.yml
  roles/mythic/handlers/main.yml
  roles/mythic/meta/main.yml
  roles/mythic/molecule/default/callback_plugins/profile_tasks.py
  roles/mythic/molecule/default/converge.yml
  roles/mythic/molecule/default/create.yml
  roles/mythic/molecule/default/destroy.yml
  roles/mythic/molecule/default/molecule.yml
  roles/mythic/molecule/default/verify.yml
  roles/mythic/tasks/agents.yml
  roles/mythic/tasks/docker.yml
  roles/mythic/tasks/main.yml
  roles/mythic/tasks/mythic.yml
  roles/mythic/tasks/packages.yml
  roles/mythic/tasks/service.yml
  roles/mythic/tasks/user.yml
  roles/mythic/templates/mythic.env.j2
  roles/mythic/templates/mythic.service.j2
  roles/mythic/vars/main.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add mythic c2 framework ansible role (#734)
  .github/workflows/molecule.yaml
  README.md
  roles/mythic/README.md
  roles/mythic/defaults/main.yml
  roles/mythic/handlers/main.yml
  roles/mythic/meta/main.yml
  roles/mythic/molecule/default/callback_plugins/profile_tasks.py
  roles/mythic/molecule/default/converge.yml
  roles/mythic/molecule/default/create.yml
  roles/mythic/molecule/default/destroy.yml
  roles/mythic/molecule/default/molecule.yml
  roles/mythic/molecule/default/verify.yml
  roles/mythic/tasks/agents.yml
  roles/mythic/tasks/docker.yml
  roles/mythic/tasks/main.yml
  roles/mythic/tasks/mythic.yml
  roles/mythic/tasks/packages.yml
  roles/mythic/tasks/service.yml
  roles/mythic/tasks/user.yml
  roles/mythic/templates/mythic.env.j2
  roles/mythic/templates/mythic.service.j2
  roles/mythic/vars/main.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add acl_tools role for Active Directory ACL exploitation
  .github/workflows/molecule.yaml
  README.md
  roles/acl_tools/README.md
  roles/acl_tools/defaults/main.yml
  roles/acl_tools/meta/main.yml
  roles/acl_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/acl_tools/molecule/default/converge.yml
  roles/acl_tools/molecule/default/create.yml
  roles/acl_tools/molecule/default/destroy.yml
  roles/acl_tools/molecule/default/molecule.yml
  roles/acl_tools/molecule/default/verify.yml
  roles/acl_tools/tasks/impacket_source.yml
  roles/acl_tools/tasks/linux.yml
  roles/acl_tools/tasks/main.yml
Labels: area/github, area/readme, area/roles, area/molecule

chore: remove outdated comment from acl_tools defaults
  README.md
  roles/acl_tools/defaults/main.yml
Labels: area/readme, area/roles

feat: add acl_tools role for active directory acl exploitation (#735)
  .github/workflows/molecule.yaml
  README.md
  roles/acl_tools/README.md
  roles/acl_tools/defaults/main.yml
  roles/acl_tools/meta/main.yml
  roles/acl_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/acl_tools/molecule/default/converge.yml
  roles/acl_tools/molecule/default/create.yml
  roles/acl_tools/molecule/default/destroy.yml
  roles/acl_tools/molecule/default/molecule.yml
  roles/acl_tools/molecule/default/verify.yml
  roles/acl_tools/tasks/impacket_source.yml
  roles/acl_tools/tasks/linux.yml
  roles/acl_tools/tasks/main.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add coercion_tools role for network poisoning and relay attacks
  .github/workflows/molecule.yaml
  README.md
  roles/coercion_tools/README.md
  roles/coercion_tools/defaults/main.yml
  roles/coercion_tools/meta/main.yml
  roles/coercion_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/coercion_tools/molecule/default/converge.yml
  roles/coercion_tools/molecule/default/create.yml
  roles/coercion_tools/molecule/default/destroy.yml
  roles/coercion_tools/molecule/default/molecule.yml
  roles/coercion_tools/molecule/default/verify.yml
  roles/coercion_tools/tasks/impacket_source.yml
  roles/coercion_tools/tasks/linux.yml
  roles/coercion_tools/tasks/main.yml
  roles/coercion_tools/tasks/mitm6_venv.yml
Labels: area/github, area/readme, area/roles, area/molecule

docs: clarify responder lifecycle ownership comment in defaults
  README.md
  roles/coercion_tools/defaults/main.yml
Labels: area/readme, area/roles

feat: add coercion_tools ansible role for network poisoning and relay attacks (#736)
  .github/workflows/molecule.yaml
  README.md
  roles/coercion_tools/README.md
  roles/coercion_tools/defaults/main.yml
  roles/coercion_tools/meta/main.yml
  roles/coercion_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/coercion_tools/molecule/default/converge.yml
  roles/coercion_tools/molecule/default/create.yml
  roles/coercion_tools/molecule/default/destroy.yml
  roles/coercion_tools/molecule/default/molecule.yml
  roles/coercion_tools/molecule/default/verify.yml
  roles/coercion_tools/tasks/impacket_source.yml
  roles/coercion_tools/tasks/linux.yml
  roles/coercion_tools/tasks/main.yml
  roles/coercion_tools/tasks/mitm6_venv.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add cracking_tools role with hashcat, john, and wordlist support
  .github/workflows/molecule.yaml
  README.md
  roles/cracking_tools/README.md
  roles/cracking_tools/defaults/main.yml
  roles/cracking_tools/handlers/main.yml
  roles/cracking_tools/meta/main.yml
  roles/cracking_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/cracking_tools/molecule/default/converge.yml
  roles/cracking_tools/molecule/default/create.yml
  roles/cracking_tools/molecule/default/destroy.yml
  roles/cracking_tools/molecule/default/inventory
  roles/cracking_tools/molecule/default/molecule.yml
  roles/cracking_tools/molecule/default/verify.yml
  roles/cracking_tools/molecule/source-build/converge.yml
  roles/cracking_tools/molecule/source-build/create.yml
  roles/cracking_tools/molecule/source-build/destroy.yml
  roles/cracking_tools/molecule/source-build/molecule.yml
  roles/cracking_tools/molecule/source-build/verify.yml
  roles/cracking_tools/tasks/hashcat.yml
  roles/cracking_tools/tasks/john.yml
  roles/cracking_tools/tasks/linux.yml
  roles/cracking_tools/tasks/main.yml
  roles/cracking_tools/tasks/wordlists.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add cracking_tools ansible role for password cracking (#737)
  .github/workflows/molecule.yaml
  README.md
  roles/cracking_tools/README.md
  roles/cracking_tools/defaults/main.yml
  roles/cracking_tools/handlers/main.yml
  roles/cracking_tools/meta/main.yml
  roles/cracking_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/cracking_tools/molecule/default/converge.yml
  roles/cracking_tools/molecule/default/create.yml
  roles/cracking_tools/molecule/default/destroy.yml
  roles/cracking_tools/molecule/default/inventory
  roles/cracking_tools/molecule/default/molecule.yml
  roles/cracking_tools/molecule/default/verify.yml
  roles/cracking_tools/molecule/source-build/converge.yml
  roles/cracking_tools/molecule/source-build/create.yml
  roles/cracking_tools/molecule/source-build/destroy.yml
  roles/cracking_tools/molecule/source-build/molecule.yml
  roles/cracking_tools/molecule/source-build/verify.yml
  roles/cracking_tools/tasks/hashcat.yml
  roles/cracking_tools/tasks/john.yml
  roles/cracking_tools/tasks/linux.yml
  roles/cracking_tools/tasks/main.yml
  roles/cracking_tools/tasks/wordlists.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add credential_access_tools role with molecule tests
  .github/workflows/molecule.yaml
  README.md
  roles/credential_access_tools/README.md
  roles/credential_access_tools/defaults/main.yml
  roles/credential_access_tools/meta/main.yml
  roles/credential_access_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/credential_access_tools/molecule/default/converge.yml
  roles/credential_access_tools/molecule/default/create.yml
  roles/credential_access_tools/molecule/default/destroy.yml
  roles/credential_access_tools/molecule/default/molecule.yml
  roles/credential_access_tools/molecule/default/verify.yml
  roles/credential_access_tools/tasks/gmsadumper.yml
  roles/credential_access_tools/tasks/impacket_source.yml
  roles/credential_access_tools/tasks/linux.yml
  roles/credential_access_tools/tasks/lsassy_venv.yml
  roles/credential_access_tools/tasks/main.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add credential_access_tools ansible role (#738)
  .github/workflows/molecule.yaml
  README.md
  roles/credential_access_tools/README.md
  roles/credential_access_tools/defaults/main.yml
  roles/credential_access_tools/meta/main.yml
  roles/credential_access_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/credential_access_tools/molecule/default/converge.yml
  roles/credential_access_tools/molecule/default/create.yml
  roles/credential_access_tools/molecule/default/destroy.yml
  roles/credential_access_tools/molecule/default/molecule.yml
  roles/credential_access_tools/molecule/default/verify.yml
  roles/credential_access_tools/tasks/gmsadumper.yml
  roles/credential_access_tools/tasks/impacket_source.yml
  roles/credential_access_tools/tasks/linux.yml
  roles/credential_access_tools/tasks/lsassy_venv.yml
  roles/credential_access_tools/tasks/main.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add lateral_movement_tools role with molecule tests
  .github/workflows/molecule.yaml
  README.md
  roles/lateral_movement_tools/README.md
  roles/lateral_movement_tools/defaults/main.yml
  roles/lateral_movement_tools/meta/main.yml
  roles/lateral_movement_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/lateral_movement_tools/molecule/default/converge.yml
  roles/lateral_movement_tools/molecule/default/create.yml
  roles/lateral_movement_tools/molecule/default/destroy.yml
  roles/lateral_movement_tools/molecule/default/molecule.yml
  roles/lateral_movement_tools/molecule/default/verify.yml
  roles/lateral_movement_tools/tasks/impacket_source.yml
  roles/lateral_movement_tools/tasks/linux.yml
  roles/lateral_movement_tools/tasks/main.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add lateral_movement_tools ansible role (#739)
  .github/workflows/molecule.yaml
  README.md
  roles/lateral_movement_tools/README.md
  roles/lateral_movement_tools/defaults/main.yml
  roles/lateral_movement_tools/meta/main.yml
  roles/lateral_movement_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/lateral_movement_tools/molecule/default/converge.yml
  roles/lateral_movement_tools/molecule/default/create.yml
  roles/lateral_movement_tools/molecule/default/destroy.yml
  roles/lateral_movement_tools/molecule/default/molecule.yml
  roles/lateral_movement_tools/molecule/default/verify.yml
  roles/lateral_movement_tools/tasks/impacket_source.yml
  roles/lateral_movement_tools/tasks/linux.yml
  roles/lateral_movement_tools/tasks/main.yml
Labels: area/github, area/readme, area/roles, area/molecule

feat: add privesc_tools role with molecule tests and ci integration
  .github/workflows/molecule.yaml
  README.md
  roles/privesc_tools/README.md
  roles/privesc_tools/defaults/main.yml
  roles/privesc_tools/handlers/main.yml
  roles/privesc_tools/meta/main.yml
  roles/privesc_tools/molecule/default/callback_plugins/profile_tasks.py
  roles/privesc_tools/molecule/default/converge.yml
  roles/privesc_tools/molecule/default/create.yml
  roles/privesc_tools/molecule/default/destroy.yml
  roles/privesc_tools/molecule/default/molecule.yml
  roles/privesc_tools/molecule/default/verify.yml
  roles/privesc_tools/tasks/certipy_venv.yml
  roles/privesc_tools/tasks/impacket_source.yml
  roles/privesc_tools/tasks/linux.yml
  roles/privesc_tools/tasks/lsassy_venv.yml
  roles/privesc_tools/tasks/main.yml
  roles/privesc_tools/tasks/pygpoabuse_venv.yml
  roles/privesc_tools/tasks/zerologon.yml
Labels: area/github, area/readme, area/roles, area/molecule

chore: update handler comment to reflect correct role name
  roles/privesc_tools/handlers/main.yml
Labels: area/roles
