Repository l50/ansible-collection-arsenal, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/changelogs, area/meta, area/roles, area/playbooks, area/taskfiles, area/galaxy, area/molecule, role/attack_box, role/sliver, role/ttpforge, playbook/atomic-red-team, playbook/attack_box, playbook/sliver, playbook/ttpforge

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
      - any-glob-to-any-file: ".hooks/**/*"
area/license:
  - changed-files:
      - any-glob-to-any-file: "LICENSE"
area/readme:
  - changed-files:
      - any-glob-to-any-file: "README.md"
area/changelogs:
  - changed-files:
      - any-glob-to-any-file: "changelogs/**/*"
area/meta:
  - changed-files:
      - any-glob-to-any-file: "meta/**/*"
area/roles:
  - changed-files:
      - any-glob-to-any-file: "roles/**/*"
area/playbooks:
  - changed-files:
      - any-glob-to-any-file: "playbooks/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"
area/galaxy:
  - changed-files:
      - any-glob-to-any-file: "galaxy.yml"
area/molecule:
  - changed-files:
      - any-glob-to-any-file: "**/molecule/**/*"

# Individual roles
role/attack_box:
  - changed-files:
      - any-glob-to-any-file: "roles/attack_box/**/*"
role/sliver:
  - changed-files:
      - any-glob-to-any-file: "roles/sliver/**/*"
role/ttpforge:
  - changed-files:
      - any-glob-to-any-file: "roles/ttpforge/**/*"

# Individual playbooks
playbook/atomic-red-team:
  - changed-files:
      - any-glob-to-any-file: "playbooks/atomic-red-team/**/*"
playbook/attack_box:
  - changed-files:
      - any-glob-to-any-file: "playbooks/attack_box/**/*"
playbook/sliver:
  - changed-files:
      - any-glob-to-any-file: "playbooks/sliver/**/*"
playbook/ttpforge:
  - changed-files:
      - any-glob-to-any-file: "playbooks/ttpforge/**/*"

Add updated changelog for 1.0.3 release
  changelogs/CHANGELOG.rst
  changelogs/changelog.yaml
Labels: area/changelogs

Add updated workstation dependency that should decouple zsh from asdf
  requirements.yml
Labels: none

Add updated workstation dependency that should decouple zsh from asdf (#229)
  requirements.yml
Labels: none

Fixed galaxy requirements
  requirements.yml
Labels: none

feat: Improve Renovate config and concurrency handling for PR workflows
  .github/renovate.json5
  .github/workflows/molecule.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix: Error specifically for ART playbook test
  .github/workflows/molecule.yaml
Labels: area/github

fix: Error specifically for ART playbook test
  .github/workflows/molecule.yaml
  playbooks/atomic-red-team/molecule/default/molecule.yml
Labels: area/github, area/playbooks, area/molecule, playbook/atomic-red-team

feat: Bumped max-parallel to 4 for playbook tests
  .github/workflows/molecule.yaml
Labels: area/github

chore: Add missing items to gitignore
  .gitignore
Labels: none

feat: Improve TTPForge role with resilient ASDF + Go setup
  requirements.yml
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/tasks/main.yml
  roles/ttpforge/tasks/setup.yml
Labels: area/roles, role/ttpforge

fix: Error with pipefail due to missing shell arg
  roles/ttpforge/tasks/setup.yml
Labels: area/roles, role/ttpforge

feat: Modernize ttpforge playbook
  playbooks/ttpforge/ttpforge.yml
  roles/ttpforge/tasks/main.yml
Labels: area/roles, area/playbooks, role/ttpforge, playbook/ttpforge

fix: Remove old system package
  roles/sliver/vars/main.yml
Labels: area/roles, role/sliver

chore: Add updated changelog for 1.0.4 release
  changelogs/CHANGELOG.rst
  changelogs/changelog.yaml
  docs/releases.md
  galaxy.yml
Labels: area/changelogs, area/galaxy

chore: Add updated changelog for 1.0.4 release (#281)
  changelogs/CHANGELOG.rst
  changelogs/changelog.yaml
  docs/releases.md
  galaxy.yml
Labels: area/changelogs, area/galaxy

feat: Upgrade Go version and cleanup unused debug logic in ttpforge role
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/tasks/setup.yml
Labels: area/roles, role/ttpforge

feat: Upgrade Go version and refine `ttpforge` role compilation logic
  roles/ttpforge/molecule/default/converge.yml
  roles/ttpforge/tasks/setup.yml
Labels: area/roles, area/molecule, role/ttpforge

feat: Improve TTPForge OS compatibility and Molecule test structure
  playbooks/ttpforge/molecule/default/converge.yml
  playbooks/ttpforge/ttpforge.yml
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/molecule/default/converge.yml
Labels: area/roles, area/playbooks, area/molecule, role/ttpforge, playbook/ttpforge

feat: Refactor `ttpforge` role for OS support and Go 1.24.0 compatibility (#286)
  playbooks/ttpforge/molecule/default/converge.yml
  playbooks/ttpforge/ttpforge.yml
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/molecule/default/converge.yml
  roles/ttpforge/tasks/setup.yml
Labels: area/roles, area/playbooks, area/molecule, role/ttpforge, playbook/ttpforge

refactor: Normalize `sliver` role user home logic and task structure
  playbooks/sliver/sliver.yml
  roles/sliver/molecule/default/converge.yml
  roles/sliver/tasks/main.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/tasks/sliver_get_user_home.yml
Labels: area/roles, area/playbooks, area/molecule, role/sliver, playbook/sliver

feat: Refactor `sliver` role with asdf support and improved compilation logic
  roles/sliver/defaults/main.yml
  roles/sliver/meta/main.yml
  roles/sliver/molecule/default/converge.yml
  roles/sliver/molecule/default/molecule.yml
  roles/sliver/molecule/default/verify.yml
  roles/sliver/tasks/main.yml
  roles/sliver/tasks/systemd.yml
  roles/sliver/templates/install-sliver.sh.j2
Labels: area/roles, area/molecule, role/sliver

chore: Remove old commented out code
  playbooks/ttpforge/ttpforge.yml
Labels: area/playbooks, playbook/ttpforge

fix: Incorrect default vars
  roles/sliver/defaults/main.yml
  roles/sliver/molecule/default/converge.yml
  roles/sliver/molecule/default/verify.yml
Labels: area/roles, area/molecule, role/sliver

fix: Default var format
  roles/sliver/defaults/main.yml
Labels: area/roles, role/sliver

feat: Refactor `sliver` role for improved setup, asdf, and test support (#287)
  playbooks/sliver/sliver.yml
  playbooks/ttpforge/ttpforge.yml
  roles/sliver/defaults/main.yml
  roles/sliver/meta/main.yml
  roles/sliver/molecule/default/converge.yml
  roles/sliver/molecule/default/molecule.yml
  roles/sliver/molecule/default/verify.yml
  roles/sliver/tasks/main.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/tasks/sliver_get_user_home.yml
  roles/sliver/tasks/systemd.yml
  roles/sliver/templates/install-sliver.sh.j2
Labels: area/roles, area/playbooks, area/molecule, role/sliver, playbook/sliver, playbook/ttpforge

feat: Update pre-commit action to work with merge groups
  .github/workflows/pre-commit.yaml
Labels: area/github

fix: Update collection build and install in molecule action
  .github/workflows/molecule.yaml
Labels: area/github

chore: Release documentation improvements
  docs/releases.md
Labels: none
