Repository l50/ansible-collection-arsenal, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/changelogs, area/meta, area/roles, area/playbooks, area/taskfiles, area/galaxy, area/molecule, area/plugins, role/asdf, role/logging, role/package_management, role/user_setup, role/vnc_setup, role/zsh_setup, playbook/workstation, playbook/vnc_box

feat: add optional cleanup support for sliver role with configurable tasks
  README.md
  playbooks/sliver/sliver.yml
  roles/sliver/README.md
  roles/sliver/defaults/main.yml
  roles/sliver/tasks/cleanup.yml
  roles/sliver/tasks/main.yml
Labels: area/readme, area/roles, area/playbooks

refactor: restructure package variables for clarity and maintainability
  roles/sliver/README.md
  roles/sliver/defaults/main.yml
  roles/sliver/tasks/cleanup.yml
  roles/sliver/vars/main.yml
Labels: area/roles

test: enable cleanup flags in sliver molecule converge scenario
  roles/sliver/molecule/default/converge.yml
Labels: area/roles, area/molecule

feat: improve cleanup reliability and package management for sliver role
  roles/sliver/README.md
  roles/sliver/molecule/default/converge.yml
  roles/sliver/tasks/cleanup.yml
  roles/sliver/tasks/main.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/vars/main.yml
Labels: area/roles, area/molecule

refactor: improve cleanup and setup logic for Sliver role
  roles/sliver/README.md
  roles/sliver/tasks/cleanup.yml
  roles/sliver/tasks/setup.yml
Labels: area/roles

feat: add optional cleanup for sliver role to minimize build artifacts
  README.md
  playbooks/sliver/sliver.yml
  roles/sliver/README.md
  roles/sliver/defaults/main.yml
  roles/sliver/tasks/cleanup.yml
  roles/sliver/tasks/main.yml
Labels: area/readme, area/roles, area/playbooks

feat: add optional cleanup for sliver role to minimize build artifacts (#411)
  README.md
  playbooks/sliver/sliver.yml
  roles/sliver/README.md
  roles/sliver/defaults/main.yml
  roles/sliver/tasks/cleanup.yml
  roles/sliver/tasks/main.yml
Labels: area/readme, area/roles, area/playbooks

feat: enhance sliver role cleanup and setup for container optimization
  roles/sliver/README.md
  roles/sliver/defaults/main.yml
  roles/sliver/tasks/cleanup.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/vars/main.yml
Labels: area/roles

refactor: restructure sliver package variables and modernize cleanup tasks
  roles/sliver/README.md
  roles/sliver/tasks/cleanup.yml
  roles/sliver/vars/main.yml
Labels: area/roles

refactor: streamline and harden cleanup for container image builds
  roles/sliver/README.md
  roles/sliver/tasks/cleanup.yml
  roles/sliver/vars/main.yml
Labels: area/roles

refactor: overhaul sliver cleanup to improve reliability, extensibility, and efficiency
  roles/sliver/README.md
  roles/sliver/tasks/cleanup.yml
  roles/sliver/vars/main.yml
Labels: area/roles

refactor: restructure and harden sliver container cleanup and package management (#414)
  roles/sliver/README.md
  roles/sliver/defaults/main.yml
  roles/sliver/tasks/cleanup.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/vars/main.yml
Labels: area/roles

refactor: streamline cleanup tasks and improve container optimization
  roles/sliver/README.md
  roles/sliver/tasks/cleanup.yml
Labels: area/roles

refactor: streamline cleanup tasks and improve container optimization (#415)
  roles/sliver/README.md
  roles/sliver/tasks/cleanup.yml
Labels: area/roles

refactor: improve cleanup logic for python and apt in sliver role
  roles/sliver/README.md
  roles/sliver/tasks/cleanup.yml
Labels: area/roles

refactor: improve cleanup logic for python and apt in sliver role (#416)
  roles/sliver/README.md
  roles/sliver/tasks/cleanup.yml
Labels: area/roles

fix: update sliver role dependencies to use libxml2-dev instead of libxml2
  roles/sliver/vars/main.yml
Labels: area/roles

chore: Update sliver README
  roles/sliver/README.md
Labels: area/roles

fix: update sliver role dependencies to use libxml2-dev (#442)
  roles/sliver/README.md
  roles/sliver/vars/main.yml
Labels: area/roles

ci: add change detection and dynamic test matrix to molecule workflow
  .github/workflows/molecule.yaml
Labels: area/github

refactor: optimize matrix generation to avoid duplicate playbook tests
  .github/workflows/molecule.yaml
Labels: area/github

ci: add dynamic test matrix generation for molecule workflow (#450)
  .github/workflows/molecule.yaml
Labels: area/github

chore: add test comment to verify role change detection
  roles/attack_box/defaults/main.yml
Labels: area/roles

fix: make adding ttpforge path conditional for docker environments
  roles/ttpforge/README.md
  roles/ttpforge/tasks/setup.yml
Labels: area/roles

feat: add conditional cleanup and container optimization for ttpforge role (#473)
  playbooks/ttpforge/ttpforge.yml
  roles/ttpforge/README.md
  roles/ttpforge/defaults/main.yml
  roles/ttpforge/molecule/default/converge_with_cleanup.yml
  roles/ttpforge/tasks/cleanup.yml
  roles/ttpforge/tasks/main.yml
  roles/ttpforge/tasks/setup.yml
  roles/ttpforge/vars/main.yml
Labels: area/roles, area/playbooks, area/molecule

style: escape pipe character in jinja templating in variable documentation
  .hooks/templates/docsible-template.md.j2
  roles/attack_box/README.md
  roles/sliver/README.md
  roles/ttpforge/README.md
Labels: area/pre-commit, area/roles

refactor: standardize molecule variable names and improve markdown formatting
  .hooks/docsible-hook.sh
  .hooks/templates/docsible-template.md.j2
  roles/attack_box/README.md
  roles/attack_box/molecule/default/converge.yml
  roles/attack_box/molecule/default/create.yml
  roles/attack_box/molecule/default/verify.yml
  roles/sliver/README.md
  roles/sliver/molecule/default/create.yml
  roles/sliver/molecule/default/verify.yml
  roles/ttpforge/README.md
  roles/ttpforge/molecule/default/converge.yml
  roles/ttpforge/molecule/default/converge_with_cleanup.yml
  roles/ttpforge/molecule/default/create.yml
  roles/ttpforge/molecule/default/verify.yml
Labels: area/pre-commit, area/roles, area/molecule

refactor: streamline prettier hook and update ansible-lint/prettier configs
  .hooks/prettier.sh
  .pre-commit-config.yaml
Labels: area/pre-commit

build: add ansible-lint to pre-commit requirements
  .hooks/requirements.txt
Labels: area/pre-commit

refactor: migrate build cleanup to shared role and remove in-role cleanup logic
  playbooks/sliver/sliver.yml
  playbooks/ttpforge/ttpforge.yml
  roles/sliver/README.md
  roles/sliver/tasks/cleanup.yml
  roles/sliver/tasks/main.yml
  roles/ttpforge/README.md
  roles/ttpforge/tasks/cleanup.yml
  roles/ttpforge/tasks/main.yml
Labels: area/roles, area/playbooks

fix: improve user home lookup and error handling in ttpforge_get_user_home
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/roles

fix: improve dynamic test matrix and parallelization in molecule workflow
  .github/workflows/molecule.yaml
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/github, area/roles

fix: run molecule tests only for changed playbooks and roles in ci
  .github/workflows/molecule.yaml
Labels: area/github

fix: correct user home directory index in set_fact task
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/roles

feat: update bashrc integration to use blockinfile for ttpforge path export
  roles/ttpforge/README.md
  roles/ttpforge/tasks/setup.yml
Labels: area/roles

test: add test user setup to molecule converge playbook
  playbooks/ttpforge/molecule/default/converge.yml
Labels: area/playbooks, area/molecule

refactor: centralize and simplify build artifact cleanup for sliver and ttpforge (#509)
  .github/workflows/molecule.yaml
  playbooks/sliver/sliver.yml
  playbooks/ttpforge/molecule/default/converge.yml
  playbooks/ttpforge/ttpforge.yml
  roles/sliver/README.md
  roles/sliver/tasks/cleanup.yml
  roles/sliver/tasks/main.yml
  roles/ttpforge/README.md
  roles/ttpforge/tasks/cleanup.yml
  roles/ttpforge/tasks/main.yml
  roles/ttpforge/tasks/setup.yml
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/github, area/roles, area/playbooks, area/molecule

fix: update sliver build dependencies to correct ncurses package names
  roles/sliver/README.md
  roles/sliver/vars/main.yml
Labels: area/roles

fix: remove duplicate and unnecessary ncurses dependencies from sliver role
  roles/sliver/README.md
  roles/sliver/vars/main.yml
Labels: area/roles

fix: update sliver build dependencies to correct ncurses package names (#514)
  roles/sliver/README.md
  roles/sliver/vars/main.yml
Labels: area/roles

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
      - any-glob-to-any-file: ".hooks/**/*"

area/license:
  - changed-files:
      - any-glob-to-any-file: "LICENSE"

area/readme:
  - changed-files:
      - any-glob-to-any-file: "README.md"

area/changelogs:
  - changed-files:
      - any-glob-to-any-file: "changelogs/**/*"

area/meta:
  - changed-files:
      - any-glob-to-any-file: "meta/**/*"

area/roles:
  - changed-files:
      - any-glob-to-any-file: "roles/**/*"

area/playbooks:
  - changed-files:
      - any-glob-to-any-file: "playbooks/**/*"

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/galaxy:
  - changed-files:
      - any-glob-to-any-file: "galaxy.yml"

area/molecule:
  - changed-files:
      - any-glob-to-any-file: "**/molecule/**/*"

area/plugins:
  - changed-files:
      - any-glob-to-any-file: "plugins/**/*"

# Individual roles
role/asdf:
  - changed-files:
      - any-glob-to-any-file: "roles/asdf/**/*"

role/logging:
  - changed-files:
      - any-glob-to-any-file: "roles/logging/**/*"

role/package_management:
  - changed-files:
      - any-glob-to-any-file: "roles/package_management/**/*"

role/user_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/user_setup/**/*"

role/vnc_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/vnc_setup/**/*"

role/zsh_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/zsh_setup/**/*"

# Individual playbooks
playbook/workstation:
  - changed-files:
      - any-glob-to-any-file: "playbooks/workstation/**/*"

playbook/vnc_box:
  - changed-files:
      - any-glob-to-any-file: "playbooks/vnc_box/**/*"
