Repository l50/ansible-collection-arsenal, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/changelogs, area/meta, area/roles, area/playbooks, area/taskfiles, area/galaxy, area/molecule, area/plugins, role/asdf, role/logging, role/package_management, role/user_setup, role/vnc_setup, role/zsh_setup, playbook/workstation, playbook/vnc_box

feat: Add acl to common packages - resolves permissions issues
  roles/sliver/vars/main.yml
Labels: area/roles

fix: Add missing default sliver_shell value
  roles/sliver/defaults/main.yml
Labels: area/roles

feat: refactor Sliver role - switch to .bashrc, update golang version, improve build
  roles/sliver/defaults/main.yml
  roles/sliver/tasks/main.yml
  roles/sliver/tasks/setup.yml
Labels: area/roles

fix: remove `depth: 1` from git clone to prevent sliver-server panic after build
  roles/sliver/tasks/setup.yml
Labels: area/roles

feat: Refactor ttpforge home dir management & use .bashrc for PATH config
  roles/ttpforge/tasks/main.yml
  roles/ttpforge/tasks/setup.yml
Labels: area/roles

feat: Refactor user home dir management, env setup, and Sliver build (#315)
  roles/sliver/defaults/main.yml
  roles/sliver/tasks/main.yml
  roles/sliver/tasks/setup.yml
  roles/ttpforge/tasks/main.yml
  roles/ttpforge/tasks/setup.yml
Labels: area/roles

fix: Update operator config generation - new cli param with latest update
  roles/sliver/tasks/setup.yml
Labels: area/roles

fix: Update operator config generation - new cli param with latest update (#316)
  roles/sliver/tasks/setup.yml
Labels: area/roles

fix: Add missing templatesyncignore file
  .templatesyncignore
Labels: none

feat: refactor Renovate config and workflow, minor template-sync edit
  .github/renovate.json5
  .github/workflows/renovate.yaml
  .github/workflows/template-sync.yaml
Labels: area/github

fix: Added missing renovate json config to templatesyncignore
  .templatesyncignore
Labels: none

feat: improve verification in sliver role molecule tests
  roles/sliver/molecule/default/verify.yml
Labels: area/roles, area/molecule

feat: Improve Sliver role setup and verification of operator config
  roles/sliver/molecule/default/verify.yml
  roles/sliver/tasks/setup.yml
Labels: area/roles, area/molecule

chore: Minor linting fix
  .github/workflows/molecule.yaml
Labels: area/github

fix: Resolve molecule bug in community.docker.docker_container
  playbooks/atomic-red-team/molecule/default/create.yml
  playbooks/atomic-red-team/molecule/default/destroy.yml
  playbooks/attack_box/molecule/default/create.yml
  playbooks/attack_box/molecule/default/destroy.yml
  playbooks/sliver/molecule/default/create.yml
  playbooks/sliver/molecule/default/destroy.yml
  playbooks/ttpforge/molecule/default/create.yml
  playbooks/ttpforge/molecule/default/destroy.yml
  roles/attack_box/molecule/default/create.yml
  roles/attack_box/molecule/default/destroy.yml
  roles/sliver/molecule/default/create.yml
  roles/sliver/molecule/default/destroy.yml
  roles/ttpforge/molecule/default/create.yml
  roles/ttpforge/molecule/default/destroy.yml
Labels: area/roles, area/playbooks, area/molecule

feat: Improve Sliver role setup and Molecule verification (#352)
  .github/workflows/molecule.yaml
  playbooks/atomic-red-team/molecule/default/create.yml
  playbooks/atomic-red-team/molecule/default/destroy.yml
  playbooks/attack_box/molecule/default/create.yml
  playbooks/attack_box/molecule/default/destroy.yml
  playbooks/sliver/molecule/default/create.yml
  playbooks/sliver/molecule/default/destroy.yml
  playbooks/ttpforge/molecule/default/create.yml
  playbooks/ttpforge/molecule/default/destroy.yml
  roles/attack_box/molecule/default/create.yml
  roles/attack_box/molecule/default/destroy.yml
  roles/sliver/molecule/default/create.yml
  roles/sliver/molecule/default/destroy.yml
  roles/sliver/molecule/default/verify.yml
  roles/sliver/tasks/setup.yml
  roles/ttpforge/molecule/default/create.yml
  roles/ttpforge/molecule/default/destroy.yml
Labels: area/github, area/roles, area/playbooks, area/molecule

feat: add docsible-powered docs, markdownlint config, update pre-commit & playbooks
  .github/workflows/pre-commit.yaml
  .hooks/docsible-hook.sh
  .hooks/linters/markdownlint.json
  .hooks/linters/mdstyle.rb
  .hooks/requirements.txt
  .hooks/templates/docsible-template.md.j2
  .pre-commit-config.yaml
  Taskfile.yaml
  playbooks/atomic-red-team/README.md
  playbooks/attack_box/README.md
  playbooks/sliver/README.md
  playbooks/sliver/sliver_inventory_aws_ec2.yml
  playbooks/ttpforge/README.md
  roles/attack_box/README.md
  roles/sliver/README.md
  roles/ttpforge/README.md
Labels: area/github, area/pre-commit, area/roles, area/playbooks, area/taskfiles

fix: Add updated docsible template from cowdogmoo workstation collection
  .hooks/templates/docsible-template.md.j2
Labels: area/pre-commit

feat: update docsible hook logic & remove legacy docs script
  .hooks/docsible-hook.sh
  .hooks/generate_docs.py
  roles/attack_box/README.md
  roles/sliver/README.md
Labels: area/pre-commit, area/roles

fix: Markdown fighting with docsible
  .hooks/docsible-hook.sh
  .hooks/linters/markdownlint.json
  roles/ttpforge/README.md
Labels: area/pre-commit, area/roles

feat: Integrate docsible-powered role docs, linting, and CI hooks (#356)
  .github/workflows/pre-commit.yaml
  .hooks/docsible-hook.sh
  .hooks/generate_docs.py
  .hooks/linters/markdownlint.json
  .hooks/linters/mdstyle.rb
  .hooks/requirements.txt
  .hooks/templates/docsible-template.md.j2
  .pre-commit-config.yaml
  Taskfile.yaml
  playbooks/atomic-red-team/README.md
  playbooks/attack_box/README.md
  playbooks/sliver/README.md
  playbooks/sliver/sliver_inventory_aws_ec2.yml
  playbooks/ttpforge/README.md
  roles/attack_box/README.md
  roles/sliver/README.md
  roles/ttpforge/README.md
Labels: area/github, area/pre-commit, area/roles, area/playbooks, area/taskfiles

fix: Improve docsible hook error reporting
  .hooks/docsible-hook.sh
Labels: area/pre-commit

fix: Improve docsible hook error reporting (#361)
  .hooks/docsible-hook.sh
Labels: area/pre-commit

feat: refactor sliver role vars/registrations & bump ansible-lint
  .pre-commit-config.yaml
  roles/sliver/tasks/main.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/tasks/sliver_get_user_home.yml
Labels: area/pre-commit, area/roles

refactor: improve variable naming for clarity and consistency
  roles/attack_box/tasks/ssh.yml
Labels: area/roles

refactor: consistently prefix variable names in ttpforge role tasks
  roles/ttpforge/tasks/main.yml
  roles/ttpforge/tasks/setup.yml
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/roles

feat: Add extra Sliver unpack guard to avoid overwrite if binary missing
  roles/sliver/README.md
  roles/sliver/tasks/setup.yml
Labels: area/roles

feat: Improve sliver build script with robust Go/asdf checks
  roles/sliver/tasks/setup.yml
Labels: area/roles

feat: Standardize naming for registered Ansible vars and improve clarity (#364)
  .pre-commit-config.yaml
  roles/attack_box/tasks/ssh.yml
  roles/sliver/README.md
  roles/sliver/tasks/main.yml
  roles/sliver/tasks/setup.yml
  roles/sliver/tasks/sliver_get_user_home.yml
  roles/ttpforge/tasks/main.yml
  roles/ttpforge/tasks/setup.yml
  roles/ttpforge/tasks/ttpforge_get_user_home.yml
Labels: area/pre-commit, area/roles

chore: update renovate config, pin dependencies, and enhance docs for release
  .github/renovate.json5
  .github/workflows/renovate.yaml
  .gitignore
  .hooks/requirements.txt
  docs/releases.md
  roles/sliver/defaults/main.yml
  roles/ttpforge/defaults/main.yml
Labels: area/github, area/pre-commit, area/roles

feat: Improve Renovate config, pre-commit, deps, and asdf plugin automation (#392)
  .github/renovate.json5
  .github/workflows/renovate.yaml
  .gitignore
  .hooks/requirements.txt
  docs/releases.md
  roles/sliver/defaults/main.yml
  roles/ttpforge/defaults/main.yml
Labels: area/github, area/pre-commit, area/roles

feat: add automated architecture diagram generation and update in pre-commit
  .hooks/gen-arch-diagram.py
  .pre-commit-config.yaml
  README.md
Labels: area/pre-commit, area/readme

chore: Choose better representation for role
  .hooks/gen-arch-diagram.py
Labels: area/pre-commit

feat: Auto-generate Ansible architecture diagrams in README (#395)
  .hooks/gen-arch-diagram.py
  .pre-commit-config.yaml
  README.md
Labels: area/pre-commit, area/readme

chore: ignore generated collection mermaid diagram in templatesync
  .templatesyncignore
Labels: none

docs: update documentation and changelogs for 1.0.5 release
  README.md
  changelogs/CHANGELOG.rst
  changelogs/changelog.yaml
  docs/releases.md
  galaxy.yml
Labels: area/readme, area/changelogs, area/galaxy

chore: Minor clarity tweak to releases doc
  docs/releases.md
Labels: none

chore: remove markdown linting and update pre-commit config scope
  .mdlrc
  .pre-commit-config.yaml
Labels: area/pre-commit

chore: remove renovate bot configuration
  .github/renovate-bot.json5
Labels: area/github

docs: update documentation and changelogs for 1.0.5 release (#397)
  .github/renovate-bot.json5
  .mdlrc
  .pre-commit-config.yaml
  README.md
  changelogs/CHANGELOG.rst
  changelogs/changelog.yaml
  docs/releases.md
  galaxy.yml
Labels: area/github, area/pre-commit, area/readme, area/changelogs, area/galaxy

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
      - any-glob-to-any-file: ".hooks/**/*"

area/license:
  - changed-files:
      - any-glob-to-any-file: "LICENSE"

area/readme:
  - changed-files:
      - any-glob-to-any-file: "README.md"

area/changelogs:
  - changed-files:
      - any-glob-to-any-file: "changelogs/**/*"

area/meta:
  - changed-files:
      - any-glob-to-any-file: "meta/**/*"

area/roles:
  - changed-files:
      - any-glob-to-any-file: "roles/**/*"

area/playbooks:
  - changed-files:
      - any-glob-to-any-file: "playbooks/**/*"

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/galaxy:
  - changed-files:
      - any-glob-to-any-file: "galaxy.yml"

area/molecule:
  - changed-files:
      - any-glob-to-any-file: "**/molecule/**/*"

area/plugins:
  - changed-files:
      - any-glob-to-any-file: "plugins/**/*"

# Individual roles
role/asdf:
  - changed-files:
      - any-glob-to-any-file: "roles/asdf/**/*"

role/logging:
  - changed-files:
      - any-glob-to-any-file: "roles/logging/**/*"

role/package_management:
  - changed-files:
      - any-glob-to-any-file: "roles/package_management/**/*"

role/user_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/user_setup/**/*"

role/vnc_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/vnc_setup/**/*"

role/zsh_setup:
  - changed-files:
      - any-glob-to-any-file: "roles/zsh_setup/**/*"

# Individual playbooks
playbook/workstation:
  - changed-files:
      - any-glob-to-any-file: "playbooks/workstation/**/*"

playbook/vnc_box:
  - changed-files:
      - any-glob-to-any-file: "playbooks/vnc_box/**/*"
